////// HEADER //////
.header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.header img {
  height: 46.29px;
  width: 50.48px;
}

main {
  margin: 0 1rem;
}

////// RESEARCH BAR //////

#research__principal__text-area {
  width: 100%;
  background: $colour-bg-secondary;
  height: 69px;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  color: black;
  margin-bottom: 1.5rem;
  padding-right: 70px;
  padding-left: 1rem;
}

.research__principal__button {
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 0 5px 5px 0;
  position: absolute;
  width: 4rem;
  height: 69px;
  margin-left: -69px;
  font-size: 1.5rem;
}

////// TAG SELECTED //////


#tagsSelected {
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.research__liste .tagSelected {
  color: black;
  background-color: white;
  border-radius: 5px;
}

.research__liste .tagNotSelected {
  color: white;
}

.tagsSelectedItem {
  min-width: 107px;
  //height: 37px;
  min-height: 37px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 5px;
}
.research__liste {
 position: absolute;
}

.tagsSelectedItem--ingredient {
  background: $colour-ingredients;
}

.tagsSelectedItem--appareil {
  background: $colour-appareil;
}

.tagsSelectedItem--ustensile {
  background: $colour-ustensiles;
}

#researchTag .hideToTagList {
  display: none;
}

////// RESEARCH TAG //////
#researchTag {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

#researchTag div {
  margin-bottom: 0.5rem;
}

.research__tag {
  height: 69px;
  width: 100%;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 1.5rem;
  padding-right: 1rem;
  background: $colour-ingredients;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  &__name{
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-size: 18px;
    outline:none;
    color: white;
  }
  &__name::placeholder{
    color: white;
  }
  &__button{
    border: none;
    height: 100%;
    background-color: transparent;
    font-size: 18px;
    color: white;
  }
  @include desktop {
    width: 170px;
    margin-right: 1rem;
  }
}

.research__liste {
  display: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: -11px;
  max-width: 100vw;
  margin-right: 1rem;
  border-radius: 0 0 5px 5px;
  @include desktop {
    width: 45vw;
    max-width: 800px;
  }
}

.research__liste__item {
  width: 10rem;
  display: inline-flex;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor:  pointer;
}

.research__liste__item {
  color: white;
  font-size: 18px;
}

.modalTag-show {
  display: block;
}


.research__tag--bigger {
  @include desktop {
    width: 45vw;
    max-width: 800px;
  }
}

.research__tag--ingredients,
.research__liste--ingredients {
  background: $colour-ingredients;
}

.research__tag--appareils,
.research__liste--appareils {
  background: $colour-appareil;
}

.research__tag--ustensiles,
.research__liste--ustensiles {
  background: $colour-ustensiles;
}

.fa-chevron-down--rotate {
  transform: rotate(180deg);
  transition: 1s;
}

.fa-times-circle {
  margin: 5px;
  cursor:  pointer;
}

.icoReturnAnim{
  animation-name: icoReturn;
  animation-duration: 1s;
  animation-fill-mode: both;
}


@keyframes icoReturn {
  0% {
    transform: rotate(0deg);
    transition: 0.5s;
  }
  100% {
    transform: rotate(180deg);
    transition: 1s;
  }
}

////// MENUS //////
#menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-content:flex-start;
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu {
  width: 100%;
  height: 364px;
  border-radius: 5px;
  background: $colour-bg-secondary;
  margin-bottom: 1rem;
  @include desktop {
    width: 380px;
  }
  &__img {
    width: 100%;
    height: 178px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  &__zone-text-upper {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    &__time {
      display: flex;
      font-size: 1rem;
      font-weight: 700;
      &__text {
        padding-left: 0.8rem;
      }
      &__ico {
        margin: auto;
      }
    }
  }
  &__zone-text-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: "lato", sans-serif;
    font-style: normal;
    font-size: 12px;
    &__ingredients {
      width: 50%;
    }
    &__recipe {
      width: 50%;
      height: 7.5rem;
      overflow: hidden;
    }
  }
}

.messageRecipeNotFound {
  background-color: $colour-bg-secondary;
  font-size: 18px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  display: none;
}

.showMessageRecipeNotFound {
  display: block;
}