//Colors
$colour-primary: #D04F4F;
$colour-ingredients: #3282F7;
$colour-appareil: #68D9A4;
$colour-ustensiles: #ED6454;
$colour-bg: white;
$colour-bg-secondary: #E7E7E7;

//times
$time-check: 500ms; //time of check annimation


